:root {
    --primary-dark: #010516;
    --secondary-dark: #1B1A36;
    --third-dark: #151E40;
    --primary-text: white;
    --secondary-text: #8A8B9F;
    --blue: #6E87F7;
    --border: #636473;
}

/* Global Styling */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
html{
    height: 100%;
    margin: 0;
}
body {
    background: var(--primary-dark);
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 100px;
}
.blue-underline{
    text-decoration: underline;
    text-decoration-color: var(--blue);
}
.blue-border{
    border: 1px solid var(--blue);
}
.x-large {
    font-size: 100px;
}

.bold {
    font-weight: bold;
}

.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}
.blue{
    color: var(--blue);
}

/* Landing styles */
.landing-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.text-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.landing-buttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userTypeButton {
    color: var(--primary-text);
    background: var(--secondary-dark);
    height: 150px;
    width: 300px;
    border: 1px solid var(--border);
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}

.userTypeButton:hover {
    transform: scale(1.1);
    cursor: pointer;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 3px #6E87F7, 0 0 7px #6E87F7;
    }
    100% {
        box-shadow: 0 0 10px #6E87F7, 0 0 10px #6E87F7;
    }
}


.welcome{
    margin-bottom: 10px;
}
.spacer{
    height: 5vh;
}


/*Login page*/

.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6E87F7;
}

.login-container {
    display: flex;
    height: 70%;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
}

.login-box {
    width: 50%;
    background: #010516; /* Adjusted the color to a dark navy blue */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #fff;
}

.cta-box {
    width: 50%;
    background: #151E40; /* Adjusted the color to a slightly lighter navy blue */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #fff;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    height: 2.5rem;
    padding-left: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1B1A36; /* Adjusted color */
    color: #fff;
}
.login-input:-webkit-autofill{
    background: #1B1A36;

}
.login-inout:-webkit-autofill:focus{
    outline: none;
    border: 1px solid var(--blue);
}
.login-form:focus{
    outline: none;
    border: 1px solid var(--blue);
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.login-btn {
    height: 2.5rem;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #6E87F7; /* Adjusted color */
    color: #fff;
    cursor: pointer;
}

.checkbox-container {
    width: 100%;
    margin-bottom: 20px;
    color: #b8c2cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-container label {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-right: 5px;
}

.link {
    color: #b8c2cc; /* Lighter text color for the links */
    text-decoration: none;
    width: 80%;
    text-align: right;
    display: block;
}
.center{
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

/* Style adjustments for the CTA box */
.cta-box p {
    margin-top: 10px;
    color: #b8c2cc;
    font-size: 0.9em;
}

@media (max-width: 800px) {
    .login-container {
        flex-direction: column;
    }
    .login-box, .cta-box {
        width: 100%;
    }
}